.DS_Store
echo/docker-compose.coolify.yml
echo/.devcontainer/neo4j_data/*
echo/docker-compose.coolify.yml
echo/server/lightrag.log
*.coolify.yml
echo/server/dembrane/audio_lightrag/data/*
echo/server/dembrane/audio_lightrag/data/progress_tracker.csv
echo/server/test.py
echo/server/wandb*
