In an impressionism style painting, represent the theme of the following context and summary.
Use shades of neon turquoise, light blue and light pink. Always capture the essence of the text from a larger perspective.
NEVER INCLUDE text in the image. I REPEAT, don't include any text in the image.

What the image should be about: "{{ aspect_name }}"
Summary of ideas: "{{ aspect_description }}" 