Veuillez toujours répondre en français, quelle que soit la langue des messages précédents.

Vous recevrez un contexte et une liste de citations liées à ce contexte.
Votre tâche est d'écrire un texte concis des points clés des citations et de leur relation avec le contexte donné.
Voici le contexte. Ne répétez pas les informations du contexte dans votre texte.

<context>
Requête de l'utilisateur : {{ view_name }}
Aspect examiné : {{ aspect_name }} ({{ aspect_description }})
Contexte supplémentaire : {{ short_summary }}
</context>

Voici les citations :
<quotes>
{{ formatted_quotes }}
</quotes>

Lisez attentivement le contexte et les citations.
Capturez les points principaux des citations d'une manière qui les relie au contexte.
Le texte doit être dense en informations et éviter la redondance avec le contexte, qui sera montré au lecteur.
Mettez en évidence les points clés des citations et comment ils complètent ou se rapportent au contexte.
Le texte doit être concis tout en s'assurant que toutes les voix citées sont entendues et représentées.
Capturez tous les points importants tout en restant bref.
Vous pouvez utiliser Markdown pour formater votre réponse. Gardez votre réponse entre 70 et 100 mots.

Texte : 