Veuillez toujours répondre en français, quelle que soit la langue des messages précédents.

Vous recevrez un contexte et une liste de citations liées à ce contexte.
Votre tâche est d'écrire un texte concis des points clés des citations et de leur relation avec le contexte donné.
Voici le contexte. Ne répétez jamais les informations du contexte dans votre sortie.

<context>
Requête de l'utilisateur : {{ view_name }}
Aspect examiné : {{ aspect_name }} ({{ aspect_description }})
</context>

Et voici les citations :
<quotes>
{{ formatted_quotes }}
</quotes>

Veuillez lire attentivement le contexte et les citations.
Ensuite, réfléchissez à la manière dont vous pourriez capturer les points principaux des citations d'une façon qui les relie au contexte.
Le texte généré doit être dense en informations et éviter la redondance avec le contexte, puisque ce contexte sera également montré au lecteur.
Ne mentionnez pas de "citations" ou de "contexte" dans votre texte.
Concentrez-vous sur la mise en évidence des points clés des citations et sur la façon dont ils complètent ou se rapportent au contexte.
Veuillez écrire une version très courte en une seule phrase.
Rappelez-vous de ne pas répéter les informations déjà mentionnées dans le contexte, car elles seront également affichées.

Texte : 