# RunPod API Configuration
RUNPOD_API_KEY=your_api_key_here
RUNPOD_ENDPOINT_ID=your_endpoint_id_here

# Test Configuration
AUDIO_URL=https://github.com/runpod-workers/sample-inputs/raw/refs/heads/main/audio/Arthur.mp3
BASE_URL=https://api.runpod.ai/v2
WHISPER_MODEL=large-v3
INITIAL_PROMPT=This is a test transcription. 