.mypy_cache
.ruff_cache
**/.DS_Store
caddy_data
caddy_config
postgres_data
pgadmin_data
appsmith_data
minio_data
redis_data
directus/uploads
directus/.env
*.sql
node_modules
.next

__blobstorage__
__queuestorage__echo/server/dembrane/workspace_script.py
